{% extends 'base.html' %}

{% block title %}Edit Post{% endblock title %}

{% block body %}

    {% if user.is_authenticated %}
    <h2 class="text-info mx-4">Edit your post</h3>  
    <form action="{% url 'blogApp:update' post.pk %}" method="post" style="margin-left: 30px">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" id="title" name="title" value="{{post.title}}">
        </div>
        <div class="form-group mb-3">
            <textarea class="form-control" id="content" rows="8" name="content">{{post.post_content}}</textarea>
          </div>
        <button type="submit" class="btn btn-primary" href="{% url 'blogApp:update' post.pk %}">Submit</button>
      </form>

    {% else %}
    <div class="d-flex justify-content-center">
        <h3 class="text-info align-middle mb-2">You need to log in or create an account to make a post</h3>
    </div>
    {% endif %}

{% endblock body %}
